<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <title>Contact Us</title>
</head>
<body>
    <h1>INNOTECH PRO</h1>
    <div class="contact">
        <img src="public\abstract-design-background-smooth-flowing-lines_1048-14640.avif">
        <h2>FEEDBACK FORM</h2>
        <form action="/contact" method="post">
        <label for="name">NAME:</label>
        <input type="text" name="name" placeholder="Name">
        <label for="password">PASSWORD:</label>
        <input type="text" name="password" placeholder="Password">
        <label for="message">Message</label>
        <input type="text" name="message" placeholder="Message">
        <div class="sub"><input type="submit"></div>
       
        
    </form>
    
</body>
</html>