<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" type="image/css" href="/public/login.css">
</head>
<body>   
    <div class="bgimg"></div>
    <h1>INNOTECH PRO</h1>
    <div class="abc">   

        <h2>LOGIN HERE</h2>
        <form action="/login" method="post">
        <label for="username">USERNAME:</label>
        <input type="text" name="name" placeholder="Name">
        <label for="username">PASSWORD:</label>
        <input type="password" name="password" placeholder="Password">
        <div class="submit"><input type="submit"></div>
        </form>
    
    
        <div class="new">New Here?
            <a href="/tempelates/signup.hbs">Sign Up</a>
        </div>
    </div>
</body>
</html>