<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>SIGN UP PAGE</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>

    
    <h1>INNOTECH PRO</h1>
    <div class="sign">
        <h2>SIGNUP</h2>
        <form action="/signup" method="post">
        <label for="name">NAME:</label>
        <input type="text" name="name" placeholder="Name">
        <label for="password">PASSWORD:</label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
        
    </form>
    <div class="new">Already a member ?
            <a href="login.hbs">LOG - IN</a>
    </div>
    

    
    </div>
    
</body>
</html>